#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

/ {
    chosen {
        zmk,physical-layout = &physical_layout0;
    };

    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        kscan = <&kscan0>;
        transform = <&default_transform>;
        keys = <
            &key_physical_attrs 100 100   0   0   0  0  0  // Q
            &key_physical_attrs 100 100 100   0   0  0  0  // W
            &key_physical_attrs 100 100 200   0   0  0  0  // E
            &key_physical_attrs 100 100   0 100   0  0  0  // A
            &key_physical_attrs 100 100 100 100   0  0  0  // S
            &key_physical_attrs 100 100 200 100   0  0  0  // D
        >;
    };

    default_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        // rows = <2>;
        // columns = <4>;
        // map = <
        //     // RC(0,0) RC(0,1) RC(0,2)
        //     // RC(1,0) RC(1,1) RC(1,2)
        //     RC(0,0) RC(0,1)
        //     RC(1,0) RC(1,1)
        //     RC(2,0) RC(2,1)
        // >;
        rows = <6>;
        columns = <1>;
        map = <
            RC(0,0)  // Q
            RC(1,0)  // W
            RC(2,0)  // E
            RC(3,0)  // A
            RC(4,0)  // S
            RC(5,0)  // D
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-charlieplex";
        wakeup-source;

        interrupt-gpios = <&xiao_d 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
        gpios
            = <&xiao_d 6 GPIO_ACTIVE_HIGH>
            , <&xiao_d 7 GPIO_ACTIVE_HIGH>
            , <&xiao_d 8 GPIO_ACTIVE_HIGH>
            ;
    };
};