#include <behaviors.dtsi>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // bindings = <
            //     &kp Q &kp W
            //     &kp A &kp S
            //     &kp E &kp D
            // >;
            bindings = <
                &kp Q
                &kp W
                &kp E
                &kp A
                &kp S
                &kp D
            >;
        };
    };
};